.contacts {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  margin-top: 29px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
  }
}

.contacts__title {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin: 0 auto;
  }
}

.contacts__paragraph {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 24px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 435px;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 40px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
    margin-bottom: 42px;
  }
}

.contacts__button {
  @include links;
  font-family: inherit;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: $white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: $blue;
  padding: 14px 40px 17px 40px;
  cursor: pointer;
  margin-bottom: 48px;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
    color: $white2;
  }

  &:disabled {
    background-color: $disabled-btn;
    color: $white2;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 128px 17px 128px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.contacts__map {
  margin-top: 49px;

  @media (min-width: $desktop-width) {
    height: 350px;
  }
}

.contacts__map-img {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.contacts__map-img-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.contacts__map-img-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
  }
}

.contacts__life-map {
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

.contacts__life-map iframe {
  width: 100%;
}
