.description {
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -37px;
  }
}

.description__container {
  background-color: $blue;
  padding-top: 28px;
  padding-bottom: 37px;
  color: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    text-align: center;
    flex: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }
}

.description__photo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.description__photo-tab {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    flex: 2;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.description__photo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.description__paragraph {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 9px;
  padding-bottom: 3px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.description__list {
  @include list-style;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $light-grey;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.description__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.description__item:first-child .description__container {
  background-image: url("../img/triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 72px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    background-image: none;
  }
}

.description__item:nth-child(2) .description__container {
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.description__item:nth-child(2) .description__photo {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.description__item:nth-child(3),
.description__item:nth-child(4),
.description__item:nth-child(5) {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 190px;
    background-color: $light-grey;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }
}

.description__item-title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    width: 100px;
    margin: auto;
  }
}

.description__item-number {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.description__item-paragraph {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}

.description__list-dignity {
  @include reset;
  list-style: none;
  margin-top: 11px;
  margin-bottom: 35px;
  text-align: left;

  @media (min-width: $tablet-width) {
    flex-grow: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: $white;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.description__attraction {
  position: relative;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0;
    padding-top: 158px;
  }
}

.description__attraction-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 28px;
  }
}

.description__attraction-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 24px;
  width: 200px;


  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 31px;
  }
}

.description__attraction--housing {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.description__attraction--food {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.description__attraction--souvenirs {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.description__attraction--housing::before {
  position: absolute;
  content: "";
  width: 39px;
  height: 38px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  top: -10px;
  left: 20px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-house-tablet.svg");
    width: 75px;
    height: 72px;
    left: 64px;
    top: 61px;
  }

  @media (min-width: $desktop-width) {
    left: 161px;
  }
}

.description__attraction--souvenirs::before {
  position: absolute;
  content: "";
  width: 39px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  top: -10px;
  left: 24px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-gift-tablet.svg");
    width: 75px;
    height: 72px;
    left: 64px;
    top: 61px;
  }

  @media (min-width: $desktop-width) {
    left: 161px;
  }
}

.description__attraction--food::before {
  position: absolute;
  content: "";
  width: 39px;
  height: 38px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  top: -10px;
  left: 20px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-burger-tablet.svg");
    width: 75px;
    height: 72px;
    left: 64px;
    top: 61px;
  }

  @media (min-width: $desktop-width) {
    left: 161px;
  }
}
