.image {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
}

.image__link {
  display: inline-block;
  margin: 0 auto;
}

.image__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.image__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.image__desktop {

  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.image__description {
  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.image__title {
  color: $black;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.image__author {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  color: $black;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: none;
}

.image__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}

.image__likes::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 21px;
  background-image: url("../img/like-icon.svg");
  top: 0;
  left: 0;
}
