.image {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.image__link {
  display: inline-block;
  margin: 0 auto;
}


.image__description {
  @media (min-width: $tablet-width) {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65px;

    @media (min-width: $desktop-width) {
      background-color: $shadow2;
      position: absolute;
      color: $white;
      top: 191px;
      width: 380px;
    }
  }
}

.photos__item:first-child .image__description {
  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $shadow2;
    color: $white;
    top: 329px;
    width: 1180px;
  }
}

.image__title {
  color: $black;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.image__author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  color: $black;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.image__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  margin: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    padding-right: 32px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
    padding-right: 8px;
    margin-top: 28px;
  }
}

.photos__item:first-child .image__likes {
  @media (min-width: $tablet-width) {
    align-self: flex-end;
    padding-right: 20px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.image__likes::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 21px;
  background-image: url("../img/like-icon.svg");
  top: 0;
  left: 0;

  @media (min-width: $desktop-width) {
    background-image: url("../img/like-icon-white.svg");
   }
}

.image__file {
  width: auto;
}
