.intro {
  background-color: $blue;
  background-image: url("../img/back-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  position: relative;
  margin: 0 auto;
  top: -34px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.png");
    top: -80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.png");
    top: -96px;
  }
}

.intro-inside {
  background-color: #81b3d2;
  background-image: url("../img/back-mobile-inside.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  top: -33px;
  padding-bottom: 61px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet-inside.png");
    top: -80px;
    margin-bottom: -10px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop-inside.png");
    top: -96px;
    margin-bottom: -66px;
  }
}

.intro--background {
  background-position: 20% 70%;

  @media (min-width: $tablet-width) {
    background-position: 20% 70%;
  }

  @media (min-width: $desktop-width) {
    background-position: 20% 100%;
  }
}

.intro__text-mobile {
  z-index: 1;
  padding-top: 90px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__text-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    padding-top: 77px;
  }
}

.intro-inside__text {
  z-index: 1;
  padding-top: 55px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro-inside__text-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    z-index: 1;
    display: block;
    margin: auto;
    padding-top: 95px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 104px;
    padding-bottom: 55px;
  }
}
