.main-nav {
  @include reset;
}

.main-nav__list {
  @include list-style;
  @include reset;
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  background-color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 1px 0;
}

.main-nav__link {
  @include links;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $white;
}
