.main-nav {
  @include reset;
  display: block;
  width: auto;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    top: -85px;
  }

  @media (min-width: $desktop-width) {
    top: -96px;
  }
}

.main-nav__list {
  @include list-style;
  @include reset;
  display: block;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 45px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 89px;
    margin-right: 70px;
  }
}

.main-nav__item {
  background-color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px $shadow3, inset 1px $white3;

  @media (min-width: $tablet-width) {
    background-color: $white;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-bottom: 16px;
  }
}

.main-nav__item:last-child {
  box-shadow: 1px $shadow3, inset 1px $white3, inset -4px $shadow4;
}

.main-nav__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    position: relative;
    left: 40px;
    margin-left: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 197px;
    left: 20px;
  }
}

.main-nav__link {
  @include links;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $black;
    opacity: 0.5;
  }

  &:disabled {
    color: $menu-active;
  }

  @media (min-width: $tablet-width) {
    color: $black;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -71px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  background-color: $white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 4px;
  background-color: $blue;
  box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue;
}

.main-nav--closed .main-nav__toggle {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--opened {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-nav--opened .main-nav__toggle {
  top: -80px;
  right: 33px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 25px;
    width: 22px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    top: 108px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 108px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
