
.modal-windows {
  text-align: center;
  background-color: $white;
  position: fixed;
}

.modal-windows--error {
  display: none;

  @media (min-width: $tablet-width) {
    position: fixed;
    width: 400px;
    height: 347px;
    box-shadow: 0 7px 15px $shadow;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-windows--send {
  display: none;

  @media (min-width: $tablet-width) {
    position: fixed;
    width: 640px;
    height: 347px;
    box-shadow: 0 7px 15px $shadow;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-windows__title {
  margin-top: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    width: 353px;
    margin: auto;
    margin-top: 44px;
    margin-bottom: 24px;
  }
}

.modal-windows__paragraph {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 420px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
}

.modal-windows__button {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  color: $white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: $blue;
  padding: 14px 63px 17px 63px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 14px 160px 17px 160px;
  }
}


.modal-windows__button-container {
  background-color: $input-grey;
  padding-top: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }
}
