.page-header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.page-header__logo {
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
  }
}
