.page-header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.page-header__logo {
  display: block;
  position: relative;
  z-index: 1;
}

.intro {
  background-image: url("../img/back-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  position: relative;
}

.intro__text {
  z-index: 1;
  padding-top: 90px;
}
