.page-header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: $white;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    background-color: $white;
  }
}

.page-header__logo {
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
}

.page-header__logo-icon-fill {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
    top: 0;
    z-index: -1;
    left: 506px;
    position: absolute;
  }
}
