.photos {
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-bottom: 37px;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 75px;
    max-width: 1200px;
  }
}

.photos__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.photos__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 53px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 78px;
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.photos__list {
  @include list-style;
  color: $black;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 648px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    grid-template-rows: 400px 267px;
    margin-bottom: 133px;
  }
}

.photos__item {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    background-color: $input-grey;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    margin-bottom: 0;
  }
}

.photos__item:first-child {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}

.photos__item:last-child {
  margin-bottom: 0;
}


.photos::before {
  position: absolute;
  content: "";
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 57px;
  top: -89px;
  left: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/intro-triangle-tablet.svg");
    width: 768px;
    top: -119px;
    left: -60px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro-triangle-desktop.svg");
    width: 1200px;
    top: -158px;
    left: 0;
  }
}
