.presentation {
  @include reset;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: -4px;
  }

  @media (min-width: $desktop-width) {
    top: -70px;
    padding-bottom: 21px;
  }
}

.presentation__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

.presentation__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 445px;
    margin: 0 auto;
    padding: 0;
  }
}

.presentation__video {
  @include reset;
  position: relative;
  height: 201px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
  }
}

.presentation__video-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.presentation__video-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.presentation__video-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
  }
}

.presentation__video-photo {
  width: auto;
}

.presentation__video-scroll {
  background-color: $black;
  opacity: 0.6;
  position: absolute;
  margin: 0;
  width: 280px;
  height: 45px;
  top: 155px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 648px;
    top: 406px;
    left: 0;
    height: 93px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 198px;
    width: 800px;
  }
}

.presentation__video-input {
  width: 235px;
  margin-top: 22px;
  appearance: none;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    margin-right: 74px;
    width: 389px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/replay.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 20px;
    bottom: -43px;
    left: 24px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/replay-white.svg");
      bottom: 37px;
      left: 36px;
    }
  }

  &::-webkit-slider-runnable-track {
    height: 3px;
    background-color: $white;
  }

  &::-webkit-slider-thumb {
    background-color: $white;
    border-radius: 50px;
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin-top: -5px;
  }
}

.presentation__video-buttons {
  width: 280px;
  height: 66px;
  background-color: $input-grey;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.presentation__video-label {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/subtitles.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 20px;
    bottom: -44px;
    left: 176px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/subtitles-white.svg");
      bottom: 37px;
      left: 524px;
    }

    @media (min-width: $desktop-width) {
      left: 676px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/fullscreen.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: -44px;
    left: 238px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/fullscreen-white.svg");
      bottom: 37px;
      left: 587px;
    }

    @media (min-width: $desktop-width) {
      left: 739px;
    }
  }
}
