.presentation {
  @include reset;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: -4px;
  }

  @media (min-width: $desktop-width) {
    top: -70px;
    padding-bottom: 21px;
  }
}

.presentation__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

.presentation__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 445px;
    margin: 0 auto;
    padding: 0;
  }
}

.presentation__video {
  @include reset;
  position: relative;
  margin: auto;
  width: 320px;
  height: 201px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
    width: 940px;
  }
}

.presentation__video-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.presentation__video-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.presentation__video-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
  }
}

.presentation__video-photo {
  width: auto;
}

.presentation__video-scroll {
  background-color: $black;
  opacity: 0.6;
  position: absolute;
  margin: 0;
  width: 280px;
  height: 45px;
  top: 155px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 648px;
    top: 406px;
    left: 0;
    height: 93px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 71px;
    width: 800px;
  }
}

.presentation__video-range {
  width: 235px;
  height: 3px;
  background-color: $white;
  margin: 0 auto;
  margin-top: 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-right: 166px;
    width: 389px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.presentation__video-toggle {
  width: 10px;
  height: 10px;
  background-color: $white;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 57px;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 204px;
    position: absolute;
  }
}

.presentation__video-buttons {
  width: 280px;
  height: 66px;
  background-color: $input-grey;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 2;
    bottom: 54px;
    width: 648px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 790px;
    left: 200px;
    bottom: 34px;
  }
}

.presentation__video-replay {
  position: absolute;
  top: 19px;
  left: 20px;
  display: block;
  width: 22px;
  height: 22px;
  background: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/replay.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    bottom: 0;
    left: 5px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      background-image: url("../img/replay-white.svg");
      left: 15px;
    }
  }
}

.presentation__video-subtitle {
  position: absolute;
  top: 19px;
  left: 174px;
  display: block;
  width: 32px;
  height: 20px;
  background: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/subtitles.svg");
    background-repeat: repeat;
    width: 32px;
    height: 20px;
    left: 0;
    bottom: -1px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      background-image: url("../img/subtitles-white.svg");
      left: 350px;
    }

    @media (min-width: $desktop-width) {
      left: 500px;
    }
  }
}

.presentation__video-fullscreen {
  position: relative;
  top: 19px;
  left: 174px;
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/fullscreen.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 23px;
    left: -66px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      background-image: url("../img/fullscreen-white.svg");
      left: 98px;
    }

    @media (min-width: $desktop-width) {
      left: 178px;
    }
  }
}

/*
.presentation__video-label {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/replay.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 20px;
    bottom: -44px;
    left: 176px;}

    @media (min-width: $tablet-width) {
      background-image: url("../img/subtitles-white.svg");
      bottom: 37px;
      left: 524px;
    }

    @media (min-width: $desktop-width) {
      left: 676px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/fullscreen.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: -44px;
    left: 238px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/fullscreen-white.svg");
      bottom: 37px;
      left: 587px;
    }

    @media (min-width: $desktop-width) {
      left: 739px;
    }
  }
}*/

.presentation__video-image {
  width: auto;
}
