.presentation {
  @include reset;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 72px;

  @media (min-width: $tablet-width) {
    top: -4px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    top: -70px;
    padding-bottom: 14px;
  }
}

.presentation__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

.presentation__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 33px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 445px;
    margin: 0 auto;
  }
}

.presentation__video {
  @include reset;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }
}

.presentation__video-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.presentation__video-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.presentation__video-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
  }
}
